*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding-top: 8px;
    background-color: aqua;
    
}









#Candidate-section{
    height: 200px;
}
/* #Candidate-section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

} */

#cand{
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidate{
    padding: 34px;
}

#cand img{
    height: 150px;
}

#Button-section{
    height: 15px;
}

#Btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidate1{
    padding: 14px;
    margin: 45px;
}


h1.counter-display{
    padding-top: 125px;
    /* background-color: black; */
    /* color: white; */
}